<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DJISDKAppKey</key>
	<string>ad00c5a89d4c90ce50efa501</string>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1Ijoid2Fsa3ljYW1kZXZlbG9wZXIiLCJhIjoiY2xydGs1MXY4MDZ1dTJpbXJzcHV6Mm14NyJ9.vDGF-AH-AcrBhTQOpd46bA</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Mulish-Bold.ttf</string>
		<string>Mulish-Black.ttf</string>
		<string>Mulish-ExtraLight.ttf</string>
		<string>Mulish-Light.ttf</string>
		<string>Mulish-Medium.ttf</string>
		<string>Mulish-Regular.ttf</string>
		<string>Mulish-Semibold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>.black</string>
		<key>UIImageName</key>
		<string>LaunchScreen</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.dji.common</string>
		<string>com.dji.protocol</string>
		<string>com.dji.video</string>
	</array>
</dict>
</plist>
