<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Our application needs permission to access the microphone</string>
	<key>NSCameraUsageDescription</key>
	<string>Our application needs permission to access the camera</string>
	<key>UIAppFonts</key>
	<array>
		<string>Mulish-Bold.ttf</string>
		<string>Mulish-Black.ttf</string>
		<string>Mulish-ExtraLight.ttf</string>
		<string>Mulish-Light.ttf</string>
		<string>Mulish-Medium.ttf</string>
		<string>Mulish-Regular.ttf</string>
		<string>Mulish-Semibold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>.black</string>
		<key>UIImageName</key>
		<string>LaunchScreen</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
</dict>
</plist>
